body {
  padding: 50px;
  background-color: #222;
  margin: 0 auto;
  color: #e0e0e0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.top-menu {
	position: fixed;
	display: inline-block;
	top: -10px;
	left: 10px;
	padding: 10px 10px 0px 10px;
	background-color: #F27474;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	-webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;	          
}


.container {
	margin: 0 auto;
	width: 520px;
}

.task-progress:hover {
	background-color: #1f1f1f;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.milestone {
	padding-bottom: 20px;
}

.target, .milestone, .task-progress {
	position: relative;
	padding-bottom: 5px;
	vertical-align: middle;
}

.target .label{
	vertical-align: 50%;
}

.progress-bar {
	background-color: #1a1a1a;
	height: 25px;
	min-height: inherit!important;
	padding: 5px;
	width: 350px;
	margin: 50px 0;			
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	-webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;	          
}

.blue span.bar {
	background-color: #34c2e3;
}

.progress-bar .text {
	text-align: right;
	padding-left: 10px;
}

.progress-bar span.bar {
	display: inline-block;
	height: 100%;	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
        -webkit-transition: width .4s ease-in-out;
        -moz-transition: width .4s ease-in-out;
        -ms-transition: width .4s ease-in-out;
        -o-transition: width .4s ease-in-out;
        transition: width .4s ease-in-out;    
}

.popup {
	position: absolute;
	top: 10px;
	right: -0px;
	margin-right: -200px;
}

.target[status=collapsed] .popup {
	visibility: hidden;
}

.form{
	position: relative;
}

.form .submit, .form .close {
	float: right;
	color: gray;
	font-weight: bold;
}

.form .err-text {
	visibility: hidden;
	color: red;
	position: fixed;
}

.form .err input{
	border-color: red;
}

.form .err .err-text {
	visibility: visible;
}
